<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>중고나라</title>
</head>
<body>
<h1>회원 가입</h1>
<hr />
<form th:object="${user}" th:action="@{/register}" method="post">
  <input type="text" placeholder="이름 입력" th:field="*{name}" />
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
  <br /><br />
  <input type="text" placeholder="이메일 입력" th:field="*{email}" />
  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
  <br /><br />
  <input type="password" placeholder="비밀번호 입력" th:field="*{password}" />
  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
  <br /><br />
  <input type="password" placeholder="비밀번호 확인" th:field="*{confirmPassword}" />
  <br /><br />
  <button type="submit">Submit</button>
  <a th:href="@{login}">로그인</a>
</form>

&lt;!&ndash;자바스크립트&ndash;&gt;
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery-validation.js}"></script>
<script th:src="@{/js/register.js}"></script>

</body>
</html>-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WigleWigle</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" th:href="@{/css/base.css}" />
  <link rel="stylesheet" th:href="@{/css/login.css}" />

</head>
<body>

<div class="box-layout justify-content-center">
  <div class="card box-layout__box text-center">
    <div class="card-header border-bottom-0 pb-0 bg-white">
      <h1 class="box-layout__title">회원가입</h1>
      <p class="box-layout__title">WigleWigle에 오신 것을 환영합니다!</p>
    </div>

    <div class="card-body pt-0">
      <form th:object="${user}" th:action="@{/register}" method="post" id="registerForm">
        <h5>Name</h5>
        <input type="text" placeholder="이름 입력" th:field="*{name}" class="form-control mb-3" autofocus="autofocus" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

        <h5>Email</h5>
        <input type="text" placeholder="이메일 입력" th:field="*{email}" class="form-control mb-3" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

        <h5>Password</h5>
        <input type="password" placeholder="패스워드 입력" th:field="*{password}" class="form-control mb-3" />
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

        <h5>Password Check</h5>
        <input type="password" placeholder="패스워드 확인" th:field="*{confirmPassword}" class="form-control mb-3" />

        <button type="submit" class="register btn button_default form-control" onclick="javascript:void(0);">가입하기</button>
      </form>
    </div>
    <div class="card-footer bg-white border-top-0">
      <span class="float-right"> 이미 가입했나요? - <a th:href="@{/login}" class="base-color font-weight-bold">로그인</a> </span>
    </div>
  </div>
</div>


<!--자바스크립트-->
<script>
  const register_elements = document.getElementsByClassName('register')
  Array.from(register_elements).forEach(function(element){
    element.addEventListener('click', function () {
      if(confirm('가입 가능한 이메일입니다')){
      }
    });
  });
</script>


<script th:src="@{js/jquery-3.7.1.min.js}"></script>
<script th:src="@{js/jquery.validate.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{js/register.js}"></script>

</body>
</html>


